ignore-file-1.ipynb
Untitled.ipynb
Modules-delete-after.ipynb
titanic_stacking_submission-final.csv
Untitled1.ipynb
testing_no_def_encap.ipynb
modules.ipynb
submission.csv
docs/source/notebooks/usage_example.ipynb
venv/
__pycache__

*.o
*.out
*~
*.log
*.xml
*.iml
dist/
**/.ipynb_checkpoints/
.DS_Store
testing_def_encap.ipynb
.idea